
:root {
    --main-background: #F4F4F4;
    --text-color: #3C3B3B;
    --border-color: #E2E2E2;
}

* {
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}

body {
    background-color: var(--main-background);
}

h1, h2, h3 {
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

p {
    font-family: 'Roboto-Thin';
    font-weight: 600;

}

a {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
}

.wrapper {
    /* display: block; */
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 110px 20px 100px 20px;
}

/*********************
** header 
*/

#navigation {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--border-color);
    background-color: #FFFFFF;
}

#branding {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    border-right: 1px solid var(--border-color);
    padding: 10px 20px;
    font-family: 'Roboto-Bold';
    font-weight: 800;
}

#navigation h1{
    font-size: 1em;
    white-space: nowrap;
}

#navigation a {
    font-size: 0.8em;
    letter-spacing: 0.2em;
}

#navigation a:hover {
    color: black;
    font-weight: 600;
}

#navigation nav li a {
    color: var(--text-color);
    font-family: 'Roboto-Thin';
    
}

#navigation nav ul {
    display: flex;

}

#navigation nav li {
    padding: 0 10px;
    border-left: 1px solid var(--border-color);
}

#navigation nav li:first-child {
    border-left: none;
    margin-left: 7px;
}

#navigation .buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

#navigation .buttons button {
    width: 60px;
    height: 100%;
    border: none;
    border-left: 1px solid var(--border-color);
    background-color: #FFFFFF;
    color: var(--text-color);
    cursor: pointer;
}

/*********************
** sidebar
*/

#sidebar {
    width: 550px;
    margin-right: 40px;
}

#sidebar .preface{
    border-bottom: 1px solid var(--border-color);
}

#sidebar .preface .description{
    margin-bottom: 40px;
}

#sidebar .preface h1 {
    font-family: 'Roboto-Bold';
    font-size: 3em;
    color: var(--text-color);
    padding-bottom: 10px;
}

#sidebar .preface p {
    color: var(--text-color);

}


#logo img {

}


/*********************
** main
*/

main {
    width: 100%;
}

main article {
    margin-bottom: 50px;
    background-color: white;
    border: 1px solid var(--border-color);
}

/* header of the post */
main article header {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 30px;
    text-transform: uppercase;
}

main .post header > div {
    padding: 50px 40px 50px 40px;
}

/* title of post */
main article header .title {
    flex-grow: 1;
    border-right: 1px solid var(--border-color);
}

main article header .title h2{
    font-size: 2em;
    margin-bottom: 10px;
}

/* author of post */
main artitle header .details {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

main .details .date-post {
    font-family: 'Roboto-Bold';
    font-size: .9em;
    margin-bottom: 10px;
    white-space: nowrap;
}

main .details .author .name {
    margin-right: 10px;
    font-size: 0.8em;
    color: var(--text-color);
}

/* avatar image of autor */
main .details .author .avatar {
    border-radius: 100%;
}


main article header .author {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* Spacing of section and footer */
main article section, main article footer {
    padding: 0px 40px 30px 40px;
}


/* Section heart of post */
main article section .picture {
    margin-bottom: 40px;
}

main article section .text-post {
    line-height: 1.8em;
}

/* footer of section */
main article footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

main article footer .link-reading {
    color: var(--text-color);
    font-family: 'Roboto-Bold';
}

main article footer .status {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

main article footer .status li {
    padding: 0 10px;
    border-left: 1px solid var(--border-color);
}

main article footer .status li:first-child {
    border-left: none;
    margin-left: 7px;
}
main article footer .status a {
    font-size: 0.8em;
    color: var(--text-color);
}


/* main pagination */
#pagination {
    width: 100%;
}

#pagination ul {
    display: flex;
}

#pagination ul li:first-child {
    margin-right: 100px;
}

#pagination li a {
    font-family: 'Roboto-Bold';
    font-weight: 600;
    letter-spacing: 0.1em;
}

#pagination li i{
    color: var(--text-color);
    font-size: 0.8em;
}

/* name and general */
.border-bottom {
    padding: 0px 2px;
    border-bottom: 1px solid var(--border-color);
}

.disabled {
    color: var(--border-color);
}