/* Style */

/*-------------------------------
** Default Style 
*/
body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.2rem;
}

body {
    /* Facebook Gradient */
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: white;

    /* Grid */
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100px 650px;
    grid-template-areas: "header main"
                         "header main"
                         "header footer";

    /* Shadow box */
    -webkit-box-shadow: 5px 5px 4px 2px rgba(0,0,0,0.18); 
    box-shadow: 5px 5px 4px 2px rgba(0,0,0,0.18);
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0px 20px 15px 20px;
}

/*-------------------------------
** Header 
*/

.header {
    grid-area: header;
    display: flex;
    justify-content: center;

    background-image: url("../img/header-background.png") ;
    background-repeat: no-repeat;
    background-position: -95px 130px;
    background-size: cover;

    /* Shadow box */
    -webkit-box-shadow: 5px -3px 2px -3px rgba(0,0,0,0.1); 
    box-shadow: 5px -3px 2px -3px rgba(0,0,0,0.1);
    z-index: 10;
}

.header .photo {
    text-align: center;
    max-width: 100%;
}

.header .photo img {
    /* image border */
    background-color: #fff;
    height: 160px;
    width: 155px;
    border: 8px solid white;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}


.line {
    border: 1px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header h1 {
    margin: 0px;
    padding: 0px;
    font-size: 1.3em;
}

.sidebar {
    padding: 30px 30px
}

.sidebar .info-name {
    color: white;
}

/* Header - Navigation */

#navigation li {
    border-bottom: 1px solid #cccccc;

}

#navigation li a {
    display: block;
    padding:1rem .7em;
    color: black;
    background-color: white;
    cursor: pointer;
}

#navigation li a:hover {
    background-color: deepskyblue;
    color: white;
}

#navigation li a:active {
    background-color: #2ca7cf;
    color: white;
}

#navigation .selected {
    background-color: deepskyblue;
    color: white;
}


/*-------------------------------
** Main 
*/

main {
    grid-area: main;
    background-color: white;
    
}

.content {
    margin: 30px 20px 10px 20px;
}

.contrast {
    background-color: whitesmoke;
}

.content-title h2{
    margin-bottom: 10px;
}

.content-text {
    color: darkgrey;
    text-align: justify;
}

.content-link {
    display: flex;
    margin-top: 15px;
}

.content-link a{
    width: 130px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    font-size: .9em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #00c6ff;
}

.content-link a:hover {
    color: white;
    background-color: #3681dd;
}

.content-link a:active {
    background-color: #2f6ab3;
}


/* Cotent - About */

.content address {
    margin-top: 20px;
    padding: 20px;
    font-style: normal;
}

/*-------------------------------
** Footer 
*/

footer {
    grid-area: footer;
    padding: 8px;
    display: flex;
    justify-content: end;
}




/********************************
******* Media Style *************
********************************/

@media only screen and (max-width: 750px) {
    
    /*-------------------------------
    ** Default Style 
    */

    .wrapper {
        margin-top: 0px;
        text-align: center;
        max-width: 600px;
        /* Flexbox */
        display: flex;
        flex-direction: column;
    }

    /*-------------------------------
    ** Header 
    */

    .header {
        background-image: url("../img/header-background.png") ;
        background-repeat: no-repeat;
        background-position: 0;
        background-attachment: fixed;
        background-size: cover;
    }

    .sidebar {
        width: 100%;
    }

    #navigation {
        justify-content: center;
        display: flex;
    }

    #navigation ul {
        max-width: 400px;
        flex-grow: 1;
    }

    /*-------------------------------
    ** Main 
    */

    main {
        margin-bottom: 20px;
    }

    .content .content-link {
        flex-direction: row-reverse;
    }

    /*-------------------------------
    ** Footer 
    */

    footer {
        display: block;
        text-align: center;
        background-color: gainsboro;
    }
  
}